/**------------------- 
**      RESET
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms \!important;
    animation-iteration-count: 1 \!important;
    transition-duration: 0.01ms \!important;
    scroll-behavior: auto \!important;
  }
}

/**------------------- 
**   CUSTOM PROPS
--------------------*/
:root {
  /* COLOURS */
  --clr-de-saturated-red: 0, 36%, 70%;
  --clr-soft-red: 0, 93%, 68%;

  --clr-dark-grayish-red: 0, 6%, 24%;

  --clr-gradient-primary: 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
  --clr-gradient-secondary: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);

  /* FONT FAMILY */
  --ff-josefin-sans: 'Josefin Sans', sans-serif;

  /* FONT SIZE */
  --ff-default: 1rem;

  /* FONT WEIGHT */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
}

/**------------------- 
**    UTILITIES
--------------------*/
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/**------------------- 
**     GENERAL
--------------------*/
body {
  font-family: var(--ff-josefin-sans);
  font-size: var(--ff-default);
  font-weight: var(--fw-regular);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  min-height: 100vh;
}

.btn {
}

/**---------------------- 
** COMING SOON SECTION
-----------------------*/
.coming-soon-page {
}

/**------------------- 
**      LOGO
--------------------*/
.logo_wrapper {
}

/**------------------- 
**       HERO
--------------------*/
.hero {
}

.hero > picture {
}

/**------------------- 
**     CONTENT
--------------------*/
.coming-soon-page-content {
}

.coming-soon-page__header {
}

.coming-soon-page__text {
}

/**------------------- 
**       FORM
--------------------*/
.coming-soon-page__form {
}

.form-control {
}

.email {
}

.btn--pink {
}
