/**------------------- 
**      RESET
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms \!important;
    animation-iteration-count: 1 \!important;
    transition-duration: 0.01ms \!important;
    scroll-behavior: auto \!important;
  }
}

/**------------------- 
**   CUSTOM PROPS
--------------------*/
:root {
  /* COLOURS */
  --clr-de-saturated-red: 0, 36%, 70%;
  --clr-soft-red: 0, 93%, 68%;

  --clr-dark-grayish-red: 0, 6%, 24%;

  --clr-gradient-primary: 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);

  --clr-gradient-secondary: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);
  --clr-gradient-secondary-shade: 135deg, hsl(0, 80%, 90%), hsl(0, 74%, 90%);

  /* FONT FAMILY */
  --ff-josefin-sans: 'Josefin Sans', sans-serif;

  /* FONT SIZE */
  --ff-default: 1rem;

  /* FONT WEIGHT */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
}

/**------------------- 
**    UTILITIES
--------------------*/
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/**------------------- 
**     GENERAL
--------------------*/
body {
  font-family: var(--ff-josefin-sans);
  font-size: var(--ff-default);
  font-weight: var(--fw-regular);
}

.main {
}

.btn {
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  padding: 1rem 2rem;

  transition: all 0.2s;
}

/**---------------------- 
** COMING SOON SECTION
-----------------------*/
.coming-soon-page {
  width: clamp(23ch, 100%, 77ch);
  margin: 0 auto;
}

/**------------------- 
**      LOGO
--------------------*/
.logo_wrapper {
  padding: 3rem;
}

/**------------------- 
**       HERO
--------------------*/
.hero {
}

.hero > picture {
}

.hero > picture > img {
  width: clamp(23ch, 100%, 145ch);
}

/**------------------- 
**     CONTENT
--------------------*/
.coming-soon-page-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 2rem;
}

.coming-soon-page__header {
  color: hsl(var(--clr-dark-grayish-red));
  font-size: 2.5rem;
  font-weight: var(--fw-semi-bold);
  letter-spacing: 0.625rem;
  line-height: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.coming-soon-page__header > span {
  color: hsl(var(--clr-de-saturated-red));
  font-weight: var(--fw-light);
}

.coming-soon-page__text {
  color: hsl(var(--clr-de-saturated-red));
  font-weight: var(--fw-light);
  line-height: 1.5625rem;
}

/**------------------- 
**       FORM
--------------------*/
.coming-soon-page__form {
  padding: 0 1rem;
}

.form-control {
  position: relative;
}

.email {
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);

  padding: 1rem;
  width: 100%;
}

.email::placeholder {
  color: hsl(var(--clr-de-saturated-red));
}

.btn--pink {
  position: absolute;
  top: -2%;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(var(--clr-gradient-secondary));
}

.btn--pink:hover {
  background: linear-gradient(var(--clr-gradient-secondary-shade));
  transform: scale(1.1);
}

.btn--pink > svg {
  width: 1.25rem;
  height: 1.25rem;
}
